# Build directories  
.build-debug/  
.build-release/  
  
# IDE and editor cache  
.cache/  
.codelite/  
.vscode/  
  
# Compiled binaries  
*.exe  
*.dll  
*.o  
*.obj  
*.a  
  
# Log files  
*.log 
